<p-messages [(value)]="msgs"></p-messages>

  <form #f="ngForm">
    <div class="form-group">
  <div class="ui-fluid p-formgrid p-grid">
    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-md-4">
        <label>Nom du Point de Distribution</label>
        <input id="pointDistributionName" type="text" pInputText [(ngModel)]="point.nom" name="n" #n="ngModel" required>
          <div class="alert alert-danger" *ngIf="n.invalid">
              le champ Nom est obligatoitre !.
          </div>

      </div>

      <div class="ui-g-12 ui-md-4">
        <label for="capacity">Capacité</label>
        <input id="capacity" type="text" pInputText  [(ngModel)]="point.capacite" name="c" #c="ngModel" required>
        <div class="alert alert-danger" *ngIf="c.value>100 || c.value<0">
          le maximium des places est 100
        </div>
          <div class="alert alert-danger" *ngIf="c.invalid">
              le champ Capacite est obligatoitre !.
          </div>
      </div>
      <div class="ui-g-12 ui-md-4">
        <label>Gouvernorat</label>
        <p-dropdown [options]="cities" [(ngModel)]="gouvernorat"
                    placeholder="choisir le gouvernorat" optionLabel="name" name="g" #g="ngModel" required
          [showClear]="true"></p-dropdown>
          <div class="alert alert-danger" *ngIf="g.invalid">
              le champ Gouvernorat est obligatoitre !.
          </div>

      </div>

    </div>


    <br>
    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-md-6">
        <label>Addresse</label>
        <input id="addresse" type="text" pInputText  [(ngModel)]="point.adresse" name="a" #a="ngModel" required>
        <div class="alert alert-danger" *ngIf="a.invalid">
          le champ Adresse est obligatoitre !.
        </div>
      </div>
      <div class="ui-g-12 ui-md-6">
      <label>Ouverture</label>
      <p-dropdown [options]="ouvertureOption" [(ngModel)]="pointOuverture" placeholder="ouverture option" name="o"
                  #o="ngModel" required
                  optionLabel="name"
        [showClear]="true"></p-dropdown>
          <div class="alert alert-danger" *ngIf="o.invalid">
              le champ Ouverture est obligatoitre !.
          </div>
        </div>
    </div>
  </div>
  <br>
  <div style="text-align:center;">



    <button pButton type="button" label="Submit" class="ui-button-rounded" (click)="ajouterPoint()"></button>
    <button pdf type="button" (click)="downloadPDF()">download pdf</button>



  </div>
</div>
  </form>
  <p-toast [style]="{marginTop: '80px'}"></p-toast>
