<p-table [value]="PointDistributions" dataKey="id" editMode="row">
  <ng-template pTemplate="header">
      <tr>
          <th>Nom</th>
          <th>Addresse</th>
          <th>Ouverture</th>
          <th>Capacite</th>
          <th>Gouvernorat</th>
          <th style="width:8em"></th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
      <tr [pEditableRow]="rowData">
        <td>
          <p-cellEditor>
              <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="rowData.nom" required>
              </ng-template>
              <ng-template pTemplate="output">
                  {{rowData.nom}}
              </ng-template>
          </p-cellEditor>
      </td>
          <td>
              <p-cellEditor>
                  <ng-template pTemplate="input">
                      <input pInputText type="text" [(ngModel)]="rowData.adresse" required>
                  </ng-template>
                  <ng-template pTemplate="output">
                      {{rowData.adresse}}
                  </ng-template>
              </p-cellEditor>
          </td>
          <td>
              <p-cellEditor>
                  <ng-template pTemplate="input">
                    <p-dropdown [options]="ouvertureOption" placeholder="ouverture option" 
                    optionLabel="name"
          [showClear]="true" (onChange)="modifyOuverture(rowData, $event)"></p-dropdown>
                  </ng-template>
                  <ng-template pTemplate="output">
                      {{rowData.ouverture}}
                  </ng-template>
              </p-cellEditor>
          </td>
          <td>
              <p-cellEditor>
                  <ng-template pTemplate="input">
                      <input pInputText type="text" [(ngModel)]="rowData.capacite">
                  </ng-template>
                  <ng-template pTemplate="output">
                      {{rowData.capacite}}
                  </ng-template>
              </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
                <ng-template pTemplate="input">
                    <p-dropdown [options]="cities" placeholder="gouvernorat option" 
                    optionLabel="name"
          [showClear]="true" (onChange)="modifyGouvernant(rowData, $event)"></p-dropdown>                </ng-template>
                <ng-template pTemplate="output">
                    {{rowData.gouvernorat}}
                </ng-template>
            </p-cellEditor>
        </td>
          <td style="text-align:center">
              <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil" class="ui-button-info" (click)="onRowEditInit(rowData)"></button>
              <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check" class="ui-button-success" style="margin-right: .5em" (click)="onRowEditSave(rowData)"></button>
              <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times" class="ui-button-danger" (click)="onRowEditCancel(rowData, ri)"></button>
          </td>
      </tr>
  </ng-template>
</p-table>