<p-table [value]="VeloLouers" dataKey="id" editMode="row">
  <ng-template pTemplate="header">
    <tr>
      <th>Parking</th>
      <th>matricule</th>
      <th>modele</th>
      <th>NbVitesse</th>
      <th>type</th>
      <th>taille</th>
      <th>tarifPar/h</th>
      <th>disponible</th>
      <th>Marque</th>
      <th style="width:8em"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
    <tr [pEditableRow]="rowData">
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <p-dropdown [options]="PointDistribution" placeholder="select a parking"
                        optionLabel="adresse"
                        [showClear]="true" (onChange)="modifyPointDistribution(rowData, $event)"></p-dropdown>
          </ng-template>
          <ng-template pTemplate="output">
            {{rowData._point_distribution.adresse}}
          </ng-template>
        </p-cellEditor>
      </td>

      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text" [(ngModel)]="rowData.matricule" required>
          </ng-template>
          <ng-template pTemplate="output">
            {{rowData.matricule}}
          </ng-template>
        </p-cellEditor>
      </td>


      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <p-dropdown [options]="modeles" placeholder="modele"
                        optionLabel="name"
                        [showClear]="true" (onChange)="modifymodele(rowData, $event)"></p-dropdown>
          </ng-template>
          <ng-template pTemplate="output">
            {{rowData.modele}}
          </ng-template>
        </p-cellEditor>
      </td>

      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text" [(ngModel)]="rowData.nombreVitesse">
          </ng-template>
          <ng-template pTemplate="output">
            {{rowData.nombre_vitesse}}
          </ng-template>
        </p-cellEditor>
      </td>

      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <p-dropdown [options]="types" placeholder="type"
                        optionLabel="name"
                        [showClear]="true" (onChange)="modifytype(rowData, $event)"></p-dropdown>
          </ng-template>
          <ng-template pTemplate="output">
            {{rowData.type}}
          </ng-template>
        </p-cellEditor>
      </td>



      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <p-dropdown [options]="tailles" placeholder="taille"
                        optionLabel="name"
                        [showClear]="true" (onChange)="modifytaille(rowData, $event)"></p-dropdown>
          </ng-template>
          <ng-template pTemplate="output">
            {{rowData.taille}}
          </ng-template>
        </p-cellEditor>
      </td>

      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text" [(ngModel)]="rowData.tarifParHeure">
          </ng-template>
          <ng-template pTemplate="output">
            {{rowData.tarif_par_heure}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text" [(ngModel)]="rowData.disponible">
          </ng-template>
          <ng-template pTemplate="output">
            {{rowData.disponible}}
          </ng-template>
        </p-cellEditor>
      </td>


      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <p-dropdown [options]="Marques" placeholder="Marque"
                        optionLabel="name"
                        [showClear]="true" (onChange)="modifymarque(rowData, $event)"></p-dropdown>
          </ng-template>
          <ng-template pTemplate="output">
            {{rowData._marque}}
          </ng-template>
        </p-cellEditor>
      </td>





      <td style="text-align:center">
        <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil" class="ui-button-info" (click)="onRowEditInit(rowData)"></button>
        <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check" class="ui-button-success" style="margin-right: .5em" (click)="onRowEditSave(rowData)"></button>
        <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times" class="ui-button-danger" (click)="onRowEditCancel(rowData, ri)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>