    <div class="col-6 col-sm-6"*ngFor="let c of velos"  >
   <img class="card-img-top" src="assets/images/velo4.jpg" alt="">
        <div class="card-body">
            <h5 class="card-title"> Modéle : {{c.modele}}</h5>
            <p class="card-text">
                {{c.matricule}}
            </p>
            <p class="card-text">
                {{c.type}}
            </p>
            <p class="card-text">
                Taille {{c.taille}}
            </p>
            <p class="card-text">
             Disponible au parking de   {{c._point_distribution.adresse}}
            </p>

            <p class="card-text">
                {{c._marque}}
            </p>
            <p class="card-text">
              Tarif par heure est  {{c.tarif_par_heure}}.00dt
            </p>
            <p class="card-text">
               Description :  {{c.description}}
            </p>

            <button class="btn btn-primary"  routerLink="/louer/{{c.id}}" routerLinkActive="active"
               [disabled]="c.disponible">Louer cet Vélo</button>


        </div>

    </div>


